:root{
    --primaryC: #eddf54;
    --secondaryC: #B0AB99;
    --blackC: #4A4737;
    --whiteC: #F2FEDC;
}

/* Colori background */
.bg-primaryC{
    background-color: var(--primaryC);
}
.bg-secondaryC{
    background-color: var(--secondaryC);
}
.bg-blackC{
    background-color: var(--blackC);
}
.bg-whiteC{
    background-color: var(--whiteC);
}

/* Colori scritte */
.text-primaryC{
    color: var(--primaryC);
}
.text-secondaryC{
    color: var(--secondaryC);
}
.text-blackC{
    color: var(--blackC);
}
.text-whiteC{
    color: var(--whiteC);
}


/* sfondo header */
.bg-header{
    background: rgb(74,71,55);
    background: radial-gradient(circle, rgba(74,71,55,1) 0%, rgba(237,223,84,1) 0%);
}

.logo-header{
    height: 350px;
    width: 350px;
}

.fs-perso{
    font-size: 85px;
}

/* show */
.img-show {
    height: 400px;
}

.container-custom {
    margin-left: auto;
    margin-right: auto;
}

.card-custom {
    height: 100%;
}

.div-custom {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}

.img-custom {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.container-custom {
    display: flex;
    flex-direction: row;
}

.img-create {
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}

.active{
    background-color: var(--blackC)!important;
    color: var(--primaryC)!important;
    border-radius: 10px;
}