:root{
    --primaryC: #eddf54;
    --secondaryC: #B0AB99;
    --blackC: #4A4737;
    --whiteC: #F2FEDC;
}

/* Colori background */
.bg-primaryC{
    background-color: var(--primaryC);
}
.bg-secondaryC{
    background-color: var(--secondaryC);
}
.bg-blackC{
    background-color: var(--blackC);
}
.bg-whiteC{
    background-color: var(--whiteC);
}

/* .bg-image{
    background-image: url('/public/media/stalla.jpg');;
    opacity: 1.5;
} */

/* Colori scritte */
.text-primaryC{
    color: var(--primaryC);
}
.text-secondaryC{
    color: var(--secondaryC);
}
.text-blackC{
    color: var(--blackC);
}
.text-whiteC{
    color: var(--whiteC);
}

/* navbar */
.nav-item:hover{
    transform:scale(1.1);
    transition: 0.5s;
}
.logo-navbar:hover{
    color: var(--primaryC);
    transform:scale(1.1);
    transition: 0.5s;
}


/* sfondo header */
.bg-header{
    background: rgb(74,71,55);
    background: radial-gradient(circle, rgba(74,71,55,1) 0%, rgba(237,223,84,1) 0%);
}

.logo-header{
    height: 200px;
    width: 200px;
}

.fs-perso{
    font-size: 100px;
}

/* show */
.img-show {
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.container-custom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-custom {
    height: 100%;
}

.div-custom {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}

.img-custom {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* .container-custom {
    display: flex;
    flex-direction: row;
} */

.img-create {
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}

.active{
    background-color: var(--blackC)!important;
    color: var(--primaryC)!important;
    border-radius: 10px;
}

.custom-puntino{
    list-style-type:none;
}

.show-custom{
    display: flex;
    justify-content: center;
    align-items: center;

}

.font-header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}